/cross_results_2015/
/cross_results_2016/
/data/externalData/BERT_base_Apex_2004.txt
/data/externalData/BERT_base_book_2019.txt
/data/externalData/BERT_base_Camera_2004.txt
/data/externalData/BERT_base_Creative_2004.txt
/data/externalData/BERT_base_hotel_2015.txt
/data/externalData/BERT_base_laptop_2014.txt
/data/externalData/BERT_base_Nokia_2004.txt
/data/externalData/BERT_base_restaurant_2014.txt
/data/externalData/BERT_base_restaurant_test_2014.txt
/data/externalData/BERT_base_restaurant_train_2014.txt
/data/externalData/glove.42B.300d.txt
/data/externalData/laptop_test_2015.xml
/data/externalData/laptop_test_2016.xml
/data/externalData/laptop_train_2015.xml
/data/externalData/laptop_train_2016.xml
/data/externalData/LaptopManualOntology.owl
/data/externalData/restaurant_ontology.owl
/data/externalData/restaurant_test_2015.xml
/data/externalData/restaurant_test_2016.xml
/data/externalData/restaurant_train_2015.xml
/data/externalData/restaurant_train_2016.xml
/data/externalData/RestaurantOntologyManual.owl
/data/programGeneratedData/300embedding2014.txt
/data/programGeneratedData/300embedding2015.txt
/data/programGeneratedData/300embedding2016.txt
/data/programGeneratedData/300hyperevaldata2016.txt
/data/programGeneratedData/300hyperevalsvmdata2016.txt
/data/programGeneratedData/300hypertraindata2016.txt
/data/programGeneratedData/300hypertrainsvmdata2016.txt
/data/programGeneratedData/300remainingsvmtestdata2015.txt
/data/programGeneratedData/300remainingsvmtestdata2016.txt
/data/programGeneratedData/300remainingtestdata2014.txt
/data/programGeneratedData/300remainingtestdata2015.txt
/data/programGeneratedData/300remainingtestdata2016.txt
/data/programGeneratedData/300results_restaurant_laptop_2014.txt
/data/programGeneratedData/300results_restaurant_restaurant_2014.txt
/data/programGeneratedData/300testdata2014.txt
/data/programGeneratedData/300testdata2015.txt
/data/programGeneratedData/300testdata2016.txt
/data/programGeneratedData/300testsvmdata2015.txt
/data/programGeneratedData/300testsvmdata2016.txt
/data/programGeneratedData/300traindata2014.txt
/data/programGeneratedData/300traindata2015.txt
/data/programGeneratedData/300traindata2016.txt
/data/programGeneratedData/300trainsvmdata2015.txt
/data/programGeneratedData/300trainsvmdata2016.txt
/data/programGeneratedData/BERT_restaurant_2014_768.txt
/data/programGeneratedData/BERT_Nokia_2004_768.txt
/data/programGeneratedData/BERT_laptop_2014_768.txt
/data/programGeneratedData/BERT_hotel_2015_768.txt
/data/programGeneratedData/BERT_Camera_2004_768.txt
/data/programGeneratedData/BERT_Creative_2004_768.txt
/data/programGeneratedData/BERT_book_2019_768.txt
/data/programGeneratedData/BERT_Apex_2004_768.txt
/data/programGeneratedData/768traindata2015.txt
/data/programGeneratedData/768testdata2015.txt
/data/programGeneratedData/768hyperevaldata2014.txt
/data/programGeneratedData/768hypertraindata2014.txt
/data/programGeneratedData/768laptop_test_2014.txt
/data/programGeneratedData/768laptop_train_2014.txt
/data/programGeneratedData/768restaurant_train_2014.txt
/data/programGeneratedData/768restaurant_test_2014.txt
/data/programGeneratedData/BERT/temp/
/data/programGeneratedData/BERT/temp.txt
/data/programGeneratedData/crossValidation2014/
/data/programGeneratedData/crossValidation2015/
/data/programGeneratedData/crossValidation2016/
/data/programGeneratedData/splits/
/hyper_results (old)/
/hyper_results (old2)/
/log/
/model/
/results/
/summary/
/main.py
/prob_tl.txt
/prob_bw.txt
/prob_fw.txt
/lcrModelInverse.py
/cabascModel.py
/main_hyper_old.py
/att_layer_old.py
/prob_tr.txt
/main_cross_maria.py
/lcrModel.py
/getBERTusingColab.py
/lcrModelAlt.py
/main_cross.py
/prob.txt
/sentence_analysis.txt
/svmModel.py
/__pycache__/
